<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>about as</title>
  <link rel="stylesheet" href="css/about.css" />
</head>

<body>
  <section class="home">
    <nav>
      <ul>
        <li>
          <a href="index.html" target="_self" title="GO TO HOME">home</a>
        </li>
        <li>
          <a href="patient-services.html" target="_self">patient services</a>
        </li>
        <li>
          <a href="about.html" target="_self" title="GO TO About us">about us</a>
        </li>
        <li><a href="#" target="_self" title="GO TO contact">contact</a></li>
      </ul>
    </nav>
    <p class="start">About Us</p>
  </section>
  <div class="maid">
    <div class="who">
      Who We Are?
      <hr />
    </div>
    <div class="goal">
      E-CLINIC was originally founded in 2022 with the goal<br />
      of providing<br />
      affordable care to patients<br />
      we know that your lives are busy,<br />
      and we want to make sure we partner alongside of <br />
      you<br />
      to give you care at times that are convenient for you<br />
      you can get the result quickly<br />
      you are given excellent care by talented providers.
    </div>
  </div>
  <div class="end">
    <div class="focus">
      <span>We mainly focus on</span> chest diseases that can be diagnosed by
      chest radiographs<br />
      such as pneumonia, COVID-19 and chest masses ...etc<br />
      We make sure that you receive a diagnosis as soon as possible with an
      explanation of the severity of the disease
    </div>
  </div>
</body>

</html>