<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="../static/css/formcss.css" />
    <style>
      body {
        font-family: "proxima-nova", sans-serif;
        padding: 0;
        margin: 0;
      }
      

      h1 {
        color: rgb(0, 0, 0);
        font-size: 2.5em;
        margin-top: 50px;
        text-align: center;
        letter-spacing: -0.02em;
        width: 100%;
        display: block;
        line-height: 0.95;
      }

    </style>
  </head>

  <body>

    <h1 class="head1">Your submission Has Been Sent to the Doctor</h1>
    
  </body>
</html>
