<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>patient services</title>
    <link href="{{ url_for('static', filename='css/patient-services.css') }}" rel="stylesheet">
</head>

<body>



    <div class="letter">
        <p>
            <span>get better faster </span><br />
            find out how e-clinic can make adifferenece to your life!
        </p>
    </div>
    <div class="rec"></div>
    <section class="sel">
        <article class="covid container">
            <figure>
                <img src="{{ url_for('static', filename='pics/covid.jpg') }}" />
                <figcaption>COVID_19 Detection</figcaption>
            </figure>
            <p class="art-des">
                Detection of COVED-19 <br />using deep learning <br />
                Techniques <br />We provide urgent diagnosis to get your result faster
            </p>
            <a class="try" href="http://127.0.0.1:5000/covid-dignosis">Try</a>
        </article>

        <article class="chest container">
            <figure>
                <img src="{{ url_for('static', filename='pics/chest.jpg') }}" />
                <figcaption>chest Diagnosis</figcaption>
            </figure>
            <p class="art-des">
                automated abnormality <br />classifiction<br />
                of chest radiographs using deep<br />
                convolution neural networks
            </p>
            <a class="try" href="http://127.0.0.1:5000/chest-dignosis">Try</a>
        </article>
        <article class="online container">
            <figure>
                <img src="{{ url_for('static', filename='pics/online.jpg') }}" />
                <figcaption>online consuling</figcaption>
            </figure>
            <p class="art-des">
                we recognize that our patient have busy lives so, to better serve you
                we provide online appointement with our professional doctor
            </p>
            <a class="try" href="http://127.0.0.1:5000/contact-form">Try</a>
        </article>
    </section>
</body>
</body>

</html>